<li data-uuid="<%=uuid%>" data-toggle="" data-placement="right" title="<%=tip%>" data-original-title="<%=name%>" data-content="<%=tip%>">
    <div class="colorbox ub-img" style="background-image: url(../assets/designer/views/template/img/images/<%=icon%>);">
    </div>

</li>


<!-- <li data-uuid="<%=uuid%>" data-toggle="" data-placement="right" title="<%=tip%>" data-original-title="<%=name%>" data-content="<%=tip%>">
    <div class="bracket"></div>
    <div class="vector ub-img" style="background-image: url(../assets/designer/views/template/img/images/<%=icon%>);">
        <div data-rel="colorbox ">
        </div>
    </div>

</li> -->

