<div class="ub ub-ac">
    <div class="lighter black custom_lab">
        <%=title%>:
    </div>
    <div class="ub-f1" style="padding-bottom: 4px">
        <input id="pro_<%=name%>"/>
    </div>
    <a id="pro_button_<%=name%>" style="padding-left: 7px" class="space" data-toggle="modal"><i class="ace-icon fa fa-plus blue "></i></a>
    <script>
        jQuery(function($) {
            $("#pro_button_<%=name%>").click(function() {
                var val = $("#pro_<%=name%>").val();
                $("#fa-select-form")[0].options = {
                    val : val,
                    input : "#pro_<%=name%>"
                };
                $("#fa-select-form").modal("toggle");
            })
        })
    </script>
</div>
