<div class="lighter black custom_lab ub" title='<%if(tip) print(tip)%>'>
    <div class="ub-f1">
        <%=title%>:
    </div>
    <div>
        <a href="#" data-action="" data-code-format="javascript <%=name%>"> JS </a>
        <a href="#" data-action="" data-events-bind="add <%=name%>"> <i class=" blue ace-icon fa fa-plus"></i> </a>
    </div>
</div>

<div class="ub ub-ac">
    <div class="ub-f1" style="padding-bottom: 4px;">
        <pre class="editor pro_<%=name%>" id="pro_<%=name%>" style="min-height:100px;width:100%;" contenteditable="true"></pre>
    </div>
    <script>
        {
            var editor = ace.edit("pro_<%=name%>");
            debugger;
            editor.session.setMode("ace/mode/javascript");
            editor.setTheme("ace/theme/tomorrow");
            editor.setAutoScrollEditorIntoView(true);
            editor.setOption("maxLines", 100);
            editor.setOption("minLines", 5);
            $('[data-code-format="javascript <%=name%>"]').on("click", function() {
                debugger;
                var editor = $("#pro_<%=name%>")[0].env.editor;
                var str = editor.getValue();
                if (str) {
                    str = js_beautify(str, 4, " ", 0);
                    editor.setValue(str);
                }
            })

            $('[data-events-bind="add <%=name%>"]').on("click", function() {
                debugger;
                var doms = mvvm.getDoms();
                var $sel = $("#data-events-dom", "#eb-add-form");
                $sel.empty();
                for (var i in doms) {
                    $sel.append("<option value='" + doms[i].val + "'>" + doms[i].lab + "</option>");
                }
                $(".btn-primary", "#eb-add-form").off("click").on("click", function() {
                    debugger;
                    var dom = $("#data-events-dom", "#eb-add-form").val();
                    var ev = $("#data-events-name", "#eb-add-form").val();
                    var func = $("#data-events-operation", "#eb-add-form")[0].env.editor.getValue();
                    var editor = $("#pro_<%=name%>")[0].env.editor;
                    editor.insert("\"" + ev + (dom?(" #" + dom):"") + "\":function(ev,param){\r\n" + func + "\r\n},\r\n");
                    //editor.setValue(js_beautify(editor.getValue(), 4, " ", 0));
                    $("#pro_<%=name%>").blur();
                    $("#eb-add-form").modal("toggle");
                })
                $("#eb-add-form").modal("toggle");
            })
            
        }
    </script>
</div>