<div class="lighter black custom_lab" title='<%if(tip) print(tip)%>'>
    <%=title%>:
    <a href="#" data-action="" data-code-format="javascript"> JS </a>
    <a href="#" data-action="" data-code-format="html"> <i class=" blue ace-icon fa fa-html5"></i> </a>
    <a href="#" data-action="" data-code-format="clear"> <i class=" blue ace-icon fa fa-eraser"></i> </a>
</div>
<div class="ub ub-ac">
    <div class="ub-f1" style="padding-bottom: 4px;">
        <pre class="editor pro_<%=name%>" id="pro_<%=name%>" style="min-height:100px;width:100%;"></pre>
    </div>
</div>
<script>
    {
        var editor = ace.edit("pro_<%=name%>");
        editor.session.setMode("ace/mode/javascript");
        editor.setTheme("ace/theme/tomorrow");
        editor.setAutoScrollEditorIntoView(true);
        editor.setOption("maxLines", 100);
        editor.setOption("minLines", 5);
        editor.setReadOnly(true);
        $('[data-code-format="javascript"]').on("click", function() {
            var editor = $("#pro_<%=name%>")[0].env.editor;
            var str = editor.getValue();
            if (str) {
                str = js_beautify(str, 4, " ", 0);
                editor.setValue(str);
            }
            $("#pro_<%=name%>").blur();
        })
        $('[data-code-format="html"]').on("click", function() {
            var editor = $("#pro_<%=name%>")[0].env.editor;
            var str = editor.getValue();
            if (str) {
                editor.setValue(style_html(str, 4, " ", 1024))
            }
            $("#pro_<%=name%>").blur();
        })
        $('[data-code-format="clear"]').on("click", function() {
            var editor = $("#pro_<%=name%>")[0].env.editor;
            var str = editor.setValue("");
            $("#pro_<%=name%>").blur();
        })
    }
</script>