<li >
    <div class="control-item">
        <!-- <span class="lighter control-item-name"><%=type%></span> -->
        <span class="lighter control-item-name" tag="uuid"><%=uuid%></span>
        <!--  -->
        <!-- <i class="orange ace-icon glyphicon glyphicon-trash del-controls"></i> -->
        <div style="float:right;" class="tool-btn">
            <i class="gray ace-icon fa fa-arrow-up top-controls"></i>
            <i class="gray ace-icon fa fa-arrow-down bottom-controls"></i>
        </div>
    </div>
    <ul></ul>
</li>