.uc-tl {
    -webkit-border-top-left-radius: .6em;
    border-top-left-radius: .6em
}

.uc-tr {
    -webkit-border-top-right-radius: .6em;
    border-top-right-radius: .6em
}

.uc-bl {
    -webkit-border-bottom-left-radius: .6em;
    border-bottom-left-radius: .6em
}

.uc-br {
    -webkit-border-bottom-right-radius: .6em;
    border-bottom-right-radius: .6em
}

.uc-t {
    -webkit-border-top-left-radius: .6em;
    border-top-left-radius: .6em;
    -webkit-border-top-right-radius: .6em;
    border-top-right-radius: .6em
}

.uc-b {
    -webkit-border-bottom-left-radius: .6em;
    border-bottom-left-radius: .6em;
    -webkit-border-bottom-right-radius: .6em;
    border-bottom-right-radius: .6em
}

.uc-r {
    -webkit-border-top-right-radius: .6em;
    border-top-right-radius: .6em;
    -webkit-border-bottom-right-radius: .6em;
    border-bottom-right-radius: .6em
}

.uc-l {
    -webkit-border-top-left-radius: .6em;
    border-top-left-radius: .6em;
    -webkit-border-bottom-left-radius: .6em;
    border-bottom-left-radius: .6em
}

.uc-a {
    -webkit-border-radius: .6em;
    border-radius: .6em
}

.uc-n {
    -webkit-border-radius: 0;
    border-radius: 0
}

.uc-tl1 {
    -webkit-border-top-left-radius: 0.3em;
    border-top-left-radius: 0.3em
}

.uc-tr1 {
    -webkit-border-top-right-radius: 0.3em;
    border-top-right-radius: 0.3em
}

.uc-bl1 {
    -webkit-border-bottom-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em
}

.uc-br1 {
    -webkit-border-bottom-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em
}

.uc-t1 {
    -webkit-border-top-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    border-top-right-radius: 0.3em
}

.uc-b1 {
    -webkit-border-bottom-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em
}

.uc-r1 {
    -webkit-border-top-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em
}

.uc-l1 {
    -webkit-border-top-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    -webkit-border-bottom-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em
}

.uc-a1 {
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em
}
.uc-a3 {
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em
}
.uc-a2 {
    -webkit-border-radius: 1.2em;
    border-radius: 1.2em
}

.us {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}
.us1 {
    -webkit-box-shadow: 0 1px 4px rgba(120, 120, 120, .3);
    box-shadow: 0 1px 4px rgba(120, 120, 120, .3)
}
.us-i {
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4)
}

.uts {
    text-shadow: 0px 2px 2px #000;
}

.ulev2 {
    font-size: 1.5em !important;
}

.ulev1 {
    font-size: 1.2em !important;
}

.ulev0 {
    font-size: 1.0em !important;
}

.ulev-1 {
    font-size: 0.8125em !important;
}

.ulev-2 {
    font-size: 0.625em !important;
}
.ulev-3 {
    font-size: 1.0625em !important;
}
.ulev-4 {
    font-size: 0.75em !important;
}
.ulim {
    max-width: 5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.uinn {
    padding: 0.5em;
    margin: 0;
}
.uinn1 {
    padding: 0 0.5em;
    margin: 0;
}
.uinn2 {
    padding: 0.5em 1em;
    margin: 0;
}
.uinn3 {
    padding: 0.2em;
    margin: 0;
}
.uinn4 {
    padding: 0 0.2em;
    margin: 0;
}
.uinn5 {
    padding: 0.75em 0.5em;
    margin: 0;
}
.uinn7 {
    padding: 0.66em 0.375em;
    margin: 0;
}
.umh1 {
    min-height: 1em;
}

.umh2 {
    min-height: 1.2em;
}

.umh3 {
    min-height: 1.5em;
}

.umh4 {
    min-height: 2em;
}
.umh5 {
    min-height: 3em;
}
.umh6 {
    min-height: 4em;
}
.umh7 {
    min-height: 1.8em;
}
.umw1 {
    min-width: 1em;
}
.umw1-5 {
    min-width: 1.5em;
}

.umw2 {
    min-width: 2em;
}

.umw3 {
    min-width: 3em;
}

.umw4 {
    min-width: 4em;
}

.tx-l {
    text-align: left;
}
.tx-r {
    text-align: right;
}
.tx-c {
    text-align: center;
}

.ut-s {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    outline: 0 !important
}

.ut-m {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal !important;
    outline: 0 !important
}

.uba {
    border: 1px solid;
}
.uba1 {
    border: 2px solid;
}
.uba2 {
    border: 3px solid;
}

.ubt {
    border-top: 1px solid;
}
.ubb {
    border-bottom: 1px solid;
}

.ubl {
    border-left: 1px solid;
}

.ubr {
    border-right: 1px solid;
}

.uhide {
    display: none !important;
}

.umar-b {
    margin-bottom: 0.4em;
}
.umar-t {
    margin-top: 0.4em;
}
.umar-l {
    margin-left: 0.4em;
}
.umar-r {
    margin-right: 0.4em;
}
.umar-a {
    margin: 0.4em;
}

.uof {
    overflow: hidden;
}
.uof-x {
    overflow-x: hidden;
}
.uof-y {
    overflow-y: hidden;
}

.uof-sy {
    overflow-y: scroll;
}

.uab {
    position: absolute;
}

.uabs {
    position: absolute !important;
    left: 0;
    top: 0;
}

.uabs-r {
    position: absolute;
    right: 0;
    top: 0;
}
