.viewport {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none
}

.viewport .upage {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: absolute;
    border: 0
}

.uheader, .ufooter {
    display: block;
    width: 100%;
    font-size: 1em;
}

.pos_re {
    position: relative
}

.ub {
    display: -webkit-box !important;
    display: box !important;
    position: relative;
}

.ub-rev {
    -webkit-box-direction: reverse;
    box-direction: reverse;
}

.ub-fh {
    width: 100%;
}

.ub-fv {
    height: 100%;
}

.ub-con {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ub-ac {
    -webkit-box-align: center;
    box-align: center;
}
.ub-ae {
    -webkit-box-align: end;
    box-align: end;
}

.ub-pc {
    -webkit-box-pack: center;
    box-pack: center;
}
.ub-pe {
    -webkit-box-pack: end;
    box-pack: end;
}
.ub-pj {
    -webkit-box-pack: justify;
    box-pack: justify;
}

.ub-ver {
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.ub-f1 {
    position: relative;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.ub-f2 {
    position: relative;
    -webkit-box-flex: 2;
    box-flex: 2;
}

.ub-f3 {
    position: relative;
    -webkit-box-flex: 3;
    box-flex: 3;
}

.ub-f4 {
    position: relative;
    -webkit-box-flex: 4;
    box-flex: 4;
}

.ub-img {
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ub-img1 {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ub-img2 {
    background-repeat: repeat-x;
    background-size: auto 100%
}
.ub-img3 {
    background-repeat: repeat-y;
    background-size: 100% auto
}

.ub-img4 {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.ub-img5 {
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.ub-img6 {
    background-repeat: no-repeat;
    background-position: center;
}
.ub-img7 {
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.designer_view {
    background-color: rgb(35,37,37);
    padding: 1px;
    height: 100%;
    min-height: 100% !important;
    max-height: 100% !important;
    overflow-y: auto;
    overflow-x: hidden
}

.navbar {
    background-color: #000202 !important;
    border-bottom: 1px solid rgb(35,37,37);
}

body {
    background-color: #000202 !important;
}

.widget-box.fullscreen {
    background-color: rgb(35,37,37);
}

.widget-toolbar-left {
    float: left !important;
}

.widget-toolbar-left:before {
    display: none !important;
}

.widget-color-black {
    border-color: #000202;
}

.widget-color-black > .widget-header, .widget-box.transparent > .widget-header {
    border-color: #000202;
    background: #000202;
    color: rgb(214,214,214);
}

.widget-box-ui-editor {

    height: calc(100% - 3px);
    margin-bottom: 0px
}
.ui_editor_container {
    position: relative;
    width: calc(100%);
    height: calc(100% - 33px);
    background-color: rgb(35,37,37) !important;
}

.ui_editor {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ui_editor_canvas {
    position: absolute;
    background: rgb(32,32,32);
    width: calc(414px*5 + 200px);
    height: calc(736px*5 + 200px);
    display: -webkit-box !important;
    display: box !important;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: start;
}

.ui_editor_canvas:hover {
    cursor: pointer
}

.ui_editor_mobile {

    width: 414px;
    height: 736px;
    background-color: white;
    position: relative;
    font-size: 24px;
    border: 1px dashed blue;
}

.ui_editor_mobile:hover {
    cursor: default
}

.taggle_border div[data-control="BASE-BORDER"] {
    border-width: 0px !important;
}

.taggle_border div[data-pos="tip"] {
    display: none !important;
}

[data-control-focus]:after {
    /*content: attr(id);
    position: absolute;
    font-size: 8px;
    top: 0px;
    left: 0px;
    height: 25px;
    border: 1px dashed blue;
    border-radius: 3px;
    background-color: orange;
    padding: 2px 5px;
    z-index: 100000;*/
}

[data-control-focus]:before {
    /*background-color: rgba(0,0,190,0.2);*/
   border: 1px dashed rgba(0,0,255,0.4) !important;
}

.taggle_border [data-control]:before {
    content: attr(id);
    position: absolute;
    font-size: 8px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px dashed rgba(255,0,0,0.4);
    text-align: center;
}

[data-control-focus]:before {
    color: blue;
}

[data-layout-orient="ub-ver"] .icon-only {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ace-thumbnails {
    padding: 3px;
}
.ace-thumbnails > li {
    margin: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px solid #000202;
    border-right: 1px solid #000202;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    -webkit-transition: all 50ms ease-in;
}

.ace-thumbnails > li > div {
    background-color: #373737;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
    font-size:12px;
}

.ace-thumbnails > li:hover {
    -webkit-transform: translate3d(-2px,-2px,0);
}

.ui_control_draggable {
    border: 1px solid #FC7800;
}

.control_pro i {
    /*position:absolute;
     right:1px;
     top:calc((100% - 1em)/2);*/

}

.control_pro select {
    /*-webkit-appearance: none;
     -moz-appearance: none;*/
    padding: 5px 20px 5px 8px;
    width: 100%;
    margin: 0;
    border: 1px solid gray;
    border-radius: 4px;
    background: #444444;
    font-size: 11px;
    font-family: "effra", "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-indent: .01px;
    text-overflow: '';
    color: #e8eaec;
    height: 26px;
    line-height: 1.5;
    padding: 0 0px 0 8px;
    /*outline: none;*/
    z-index: 1
}

.control_pro input {
    margin: 0;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 11px;
    font-family: "effra", "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-indent: .01px;
    text-overflow: '';
    color: #e8eaec;
    height: 26px;
    line-height: 1.5;
    background: #444444;
    width: 100%;
    /*outline: none;*/
}

.control_pro div {
    min-width: 1em;
}

.control_pro div.row {
    padding: 0 8px 8px 8px;
}

#control_tree {
    min-height: 300px;
}

#control_tree ul, #control_tree li {
    position: relative;
}

#control_tree li {
    margin-left: 5px;
}

#control_tree ul:before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 0px;
    height: calc(100% - 5px);
    border-left: 1px solid gray;
    z-index: 1;
    left: -10px;
    top: -5px
}

#control_tree li:before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 10px;
    height: 0;
    border-top: 1px solid gray;
    z-index: 1;
    left: -15px;
    top: 10px;
}

#control_tree .control-item {

}


.control-item .tool-btn{
    display: none;
}
.control-item:hover .tool-btn{
    display: block;
}
.control-item:hover{
    background-color: rgba(255,255,255,0.1);
}

#control_tree .ul .collapsed {
    display: none;
}

.control-item-focus {
    background-color: gray
}

.box_layout {
    margin: 4px;
}

.box_layout .align_dir label, .box_layout .align_hor label {
    zoom: 0.8;
}

.box_layout .align_ver label {
    zoom: 0.8;
}

.box_layout .btn-primary {
    background-color: gray !important;
    border: gray !important;
}
.box_layout .btn-primary.active {
    background-color: #444444 !important;
    border: gray !important;
}
.box_layout .btn-primary.active:after {

    border: 0px;
}

.ui_editor_mobile .con_tip {
    padding: 3px 8px;
    background-color: rgb(147, 95, 1);
    left: 10px;
    top: -33px;
    height: 20px;
    font-size: 8px;
    display: inline !important;
    border-radius: 3px;
    color: white;
}

.tags {
    width: 100%;
    background: #444444;
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(35,37,37);
    -webkit-border-radius: 0;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar:horizontal {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #373737;
    -webkit-border-radius: 4px;
    outline: 3px solid rgb(35,37,37);
    outline-offset: -3px;
    border: 1px solid rgb(35,37,37);
}
::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #373737;
    -webkit-border-radius: 4px;
}

.popover-inner {
    padding: 3px;
    width: 280px;
    overflow: hidden;
    background: #000000;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.popover-title {
    padding: 9px 15px;
    line-height: 1;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.popover-content {
    padding: 14px;
    background-color: #ffffff;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: black;
}
.popover {
    background-color: rgba(0,0,0,0);
    background-clip: padding-box;
    border: 1px none #cccccc;
    border: 1px none rgba(0, 0, 0, 0.2);
}
