.viewport {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none
}

.viewport .up {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: absolute;
    border: 0
}


.uh, .uf {
    display: block;
    width: 100%;
    font-size: 1em;
}

.up .uh, .up .uf, .pos_re {
    position: relative
}

.uh .ut, .uf .ut {
    padding: .72em 1em .72em;
    margin: 0;
}

.ub {
    display: -webkit-box !important;
    display: box !important;
    position: relative;
}

.ub-rev {
    -webkit-box-direction: reverse;
    box-direction: reverse;
}

.ub-fh {
    width: 100%;
}

.ub-fv {
    height: 100%;
}

.ub-con {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ub-ac {
    -webkit-box-align: center;
    box-align: center;
}
.ub-ae {
    -webkit-box-align: end;
    box-align: end;
}

.ub-pc {
    -webkit-box-pack: center;
    box-pack: center;
}
.ub-pe {
    -webkit-box-pack: end;
    box-pack: end;
}
.ub-pj {
    -webkit-box-pack: justify;
    box-pack: justify;
}

.ub-ver {
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.ub-f1 {
    position: relative;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.ub-f2 {
    position: relative;
    -webkit-box-flex: 2;
    box-flex: 2;
}

.ub-f3 {
    position: relative;
    -webkit-box-flex: 3;
    box-flex: 3;
}

.ub-f4 {
    position: relative;
    -webkit-box-flex: 4;
    box-flex: 4;
}

.ub-img {
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ub-img1 {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ub-img2 {
    background-repeat: repeat-x;
    background-size: auto 100%
}
.ub-img3 {
    background-repeat: repeat-y;
    background-size: 100% auto
}

.ub-img4 {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.ub-img5 {
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.ub-img6 {
    background-repeat: no-repeat;
    background-position: center;
}
.ub-img7 {
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

